<div class="card">
  <div class="card-body">
    <h2>Administração:</h2>
    <ul>
      <a href="/admin/categorias"><li>Gerenciar Categorias</li></a>
      <a href="/admin/postagens"><li>Gerenciar Postagens</li></a>
    </ul>
  </div>
</div>