<div class="card">
  <div class="card-body">

    <small
      style=" display: flex; justify-content: flex-end; gap: 20px"
    >{{postagem.data}}</small>

    <h4>{{postagem.titulo}}</h4>
    <small>postagem/{{postagem.slug}}</small>
    <p class="mt-4">{{postagem.conteudo}}</p>
  </div>
</div>